@use "../../scss" as *;

.feed__wrapper {
   background-color: white;
   position: relative;

   .feed__inner_wrapper {
      margin: 6rem 0 0;
      width: 100vw;
      @include flex(row, center, center, 0, 0);

      img {
         width: auto;
         height: 300px;
         object-fit: cover;
         object-position: center;
      }

      @include tablet {
         flex-wrap: wrap;

         img {
            min-width: 300px;
         }
      }

      @include mobile {
         img {
            width: 100vw;
         }
      }
   }
   .button-wrapper {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.2);
      @include flex(row, center, center);

      button {
         @include button;
         height: auto;
         padding: 1.2rem 3rem;
         text-transform: capitalize;
         font-weight: 700;
         font-size: 20px;
      }
   }
}
